# === === Mostrar u ocultar la Waitlist === ===
# Para mostrar la Waitlist, por en true
# Para ocultar la Waitlist, dejarla vacia
SHOW_WAITLIST=

# URL de PostgreSQL (LOCAL)
DATABASE_URL="postgresql://postgres:root@localhost:5432/global_work_home_db"

RESEND_API_KEY=

